<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spotivibe</title>

	<!-- Add jQuery --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

	<!-- Add custom javascript -->
	<script type="text/javascript" src="/scripts/app.js"></script>

	<!-- Add custom CSS -->
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">

 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>		

    <nav class="nav">
      <div class="nav-wrapper container center">
        <ul class="center">
          <li><a href="#">Navbar Link</a></li>
          <li><a href="#">Navbar Link</a></li>
          <li><a href="#">Navbar Link</a></li>
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <!-- <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
      </div>
    </nav>

    <div id="index-banner">
        <div class="container">
            <br><br>
            	<h1 class="header center">Spotivibe</h1>
            <div class="row center">
            	<h5 class="header col s12 light">Set the tune. Set the mood. Instantly.</h5>
            </div>
            <br><br>
        </div>
    </div>


    <section class="container" id="activities-container">
      <div class="row">
    		<div class='header center'>
    			 <h2>Select an Activity</h2>
    		</div>

        <div id="activities">
          
          <div class="row" id="activity-cards-gallery">

            <div id="create-card" class="valign-wrapper center col s12 m4">

              <div><i id="add-button" class="material-icons large">add</i></div>
              <!-- <h6>Create Activity</h6> -->

            </div>

          <!-- CARDS SHOW UP HERE -->

          </div>

        </div>

      </div>

    </section>

    <!-- begin songModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="songModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
            <h4 class="modal-title">Create Song</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="songName">Song Name</label>
                <div class="col-md-4">
                  <input id="songName" name="songName" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Number input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="trackNumber">Track Number</label>
                <div class="col-md-4">
                  <input id="trackNumber" name="trackNumber" type="number" placeholder="" class="form-control input-md">
                </div>
              </div>
            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="saveSong">Edit</button>
            <button type="button" class="btn btn-primary" id="saveSong">Delete</button>
            <button type="button" class="btn btn-primary" id="saveSong">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Want to Know More?</h5>
          <p class="grey-text text-lighten-4">To find out more about ellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper.</p>

        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
      Made by <a class="white-text" href="#">Mahmoud Bachir</a> and <a class="white-text" href="#">Michael Laird</a>
      </div>
    </div>
  </footer>
	
</body>
</html>