/*  H T M L  T A G S  */

body {

	width: 100%;

}

nav.nav {

	color: #fff;
    background-color: #111;
    width: 100%;
    height: 56px;
    line-height: 56px;

}

nav ul {

	transform: translateX(32%);
	webkit-transform: translateX(-32%);

}

nav ul li {}

nav ul li a {

	color: white;

}

h1 {

	color: white;

}

h2 {}

h3 {}

h4 {}

p {}

a {}

a:hover {}

a:active {}

img {}

/*  C L A S S E S  */

.classes {}

/*  I D S  */

#index-banner {

	background-image: url('/imgs/background1.jpg');
	width: 100%;
	height: 100vh;

}