/* To use Google Fonts:

font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather', serif;

*/

/*  H T M L  T A G S  */

body {

	width: 100;
	background-color: #f8f8f8;

}

nav.nav {

	color: #fff;
    background-color: #111;
    width: 100%;
    height: 56px;
    line-height: 56px;

}

nav ul {

	transform: translateX(32%);
	webkit-transform: translateX(-32%);

}

nav ul li {}

nav ul li a {

	font-family: 'Open Sans', sans-serif;
	color: white;

}

h1 {

	font-family: 'Merriweather', serif;
	font-weight: 800;
	color: white;

}

h2 {

	font-family: 'Merriweather', serif;
	font-weight: 800;
	color: #111;

}

h3 {

	margin: 0px;
	font-size: 1.75em;
	font-family: 'Merriweather', serif;
	font-weight: 800;
	color: #111;
	padding-bottom: 10px;

}

h4 {

	margin: 0px;
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
	font-weight: 800;
	color: white;
	padding-bottom: 20px;

}

h5 {

	margin: 0px;
	font-size: 1.25em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;

}

h6 {

	margin: 0px;
	font-size: .8em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 10px;

}

p {

	font-family: 'Open Sans', sans-serif;

}

a {}

a:hover {}

a:active {}

img {}

/*  C L A S S E S  */

.classes {}

i.play-icon {

	margin-top: -25px;
	color: #64ffda;
	transform: translateX(125%);
	webkit-transform: translateX(-125%);

}

/*  I D S  */

#index-banner {

	background-image: url('/imgs/background1.jpg');
	width: 100%;
	height: 100vh;

}

#activities {

	width: 100%;

}

#activity-card {

	background-color: white;
	border-radius: 20px;
	width: 400px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 40px;

}

#card-data {


	background-color: #111;
	color: white;
	border-radius: 20px;
	margin-top: -50px;
	margin-left: -40px;
	margin-right: -40px;
	padding: 40px;

}